body{
    background-color: rgb(191, 191, 255);
}

.form{
    background-color: white;
    border: 2px solid  white;
    width: 600px;
    margin: 100px auto;
    border-radius: 8px;
    position: relative;
    text-align: right;
    height: 800px;
}
.bodys p {
    font-size: 50px;
    font-weight:300;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;
}

.bodys input{
    text-align: left;
    height: 40px;
    width: 350px;
    border-radius: 3px;
    font-family: "Poetsen One", sans-serif;
    margin-top: 20px;
}
.bodys{
    text-align: center;
}
.status{
    position: relative;
    font-size: 20px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(188, 188, 255);
    top: 30px;
}
.status span{
    padding: 15px;
}
.status button{
    margin-left: 15px;
}
.clearbutton{
    margin-top:20px;
    margin-right: 30px;
    background-color: rgb(188, 188, 255);
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 0 black;
}

.clearbutton:active{
    box-shadow: none;
    transform: translateY(3px);
}
.items{
    margin-top: 50px;
}
.items ul {
    list-style-type: none;
    text-align: left;
}
.firstcome input {
    height: 20px;
    width: 30px;
}
.firstcome label {
    position: relative;
    display: flex;
    font-size: 25px;
    width: 600px;
    justify-content:space-evenly
}
.firstcome label p {
    font-size: 18px;
    margin-top: -3px;
    width: 450px;
    height: auto;
}
.firstcome label select{
    height: fit-content;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    margin-top:18px;
    background-color: rgb(188, 188, 255);

}

 
    


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

